FLASK_APP=
FLASK_ENV=
FLASK_DEBUG=

DATABASE_URL=
POSTGRES_USER=
POSTGRES_PASSWORD=
POSTGRES_DB=

JWT_SECRET_KEY=
JWT_ACCESS_TOKEN_EXPIRES=

PGADMIN_DEFAULT_EMAIL=
PGADMIN_DEFAULT_PASSWORD=
PGADMIN_CONFIG_SERVER_MODE=

